
body {
  background: linear-gradient(#DEBAC0, #9370DB , #8C93A8, #62466B);
  color: white;
  font-family: "Garamond";
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
  margin: 0;
  padding: 0;
} 

