.header {
  text-align: center;
  margin-top: 5px;
  font-size: 15pt;
}

body {
  color: white;
  font-family: "Garamond";
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png');
  margin: 0;
  padding: 0;
  font-size: 20pt
} 


.menu {
  background-color:white;
  text-align: center;
  border-style: double;
  font-size: 10pt;
  /*length: 200;
  width: 300;
  float: center;*/
  position: relative;
  overflow: auto;
}

.main-nav {
    display: flex;
}
  
table, td {
  border: 3px solid white;
  font-size: 20pt;
  margin: 20px auto;
  align: right;
   margin-top: 70px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

div {
  border: 4px solid white;
}
