body {
  
}

h1 {
  text-align: center;
  font-size: 30pt;
  color: white;
}


.navigation{
  background-color: white;
  font-size: 17pt;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  height: 50px;
  position: sticky;
  top: 0px;
  width: 100%;
}

p {
color: black;
text-align: center;
border: 5px solid white;
font-size: 21pt;
width: 500px;
height: 500px;
margin: 10px auto;
width: 50%;
padding: 10px;
background-color: white;
} 

#banner {
 background-image: url("https://images.unsplash.com/photo-1473773508845-188df298d2d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw0OTE4MzZ8fGVufDB8fHx8&w=1000&q=80");
  background-size: cover;
  background-position: bottom center;
  height: 400px;
  width: 100%;
} 

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

footer {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  bottom: 5px;
  z-index: 5;
  background-color: lightblue;
  color: black;
  font-size: 20pt;
}

footer h1 { 
  display: inline-block;
  font-size: 20px;
}

.image {
  margin: 0px 450px;
   width: 600px;
 height: 600px;
  max-width: 100%;
  display: block;
}

  h2 {
text-align: center;
  }

.video {
  width: 650px;
  height: 500px;
  align: center;
  margin: 0px 425px;
}


.image2 {
 width: 700px;
 height: 700px;
 margin: 0px 400px;
 max-width: 90%;
 height: auto;
 display: block;
 max-width: 800px;
}
