.navigation{
  background-color: white;
  font-size: 17pt;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  height: 50px;
  position: sticky;
  top: 0px;
  width: 100%;
}


h1 {
  text-align: center;
  font-size: 30pt;
  color: white;
}

#banner {
 background-image: url("https://i.insider.com/60706b25f068cf0018022c07?width=1200&format=jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 400px;
  width: 100%;
  object-position: 20% 10%;
} 

#banner .content h1 {
  border: 3px solid white;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

ul {
  border: 6px solid white;  
  font-size: 21pt;
  color: black;
  margin: 75px 200px;
} 

h2 {
text-align: center;
font-weight: bold;
}
